@import "tailwindcss";
@plugin "daisyui";



:root {
  --bg-color: #ffffff; 
  --text-color: #000000; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}